<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.mem0-server</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/uv</string>
    <string>run</string>
    <string>--project</string>
    <string>__HOME__/.config/mem0</string>
    <string>python</string>
    <string>server.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__HOME__/.config/mem0</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>MEM0_CONFIG_PATH</key>
    <string>__HOME__/.config/mem0/config.json</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>30</integer>
  <key>StandardOutPath</key>
  <string>__HOME__/.config/mem0/server.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/.config/mem0/server.log</string>
</dict>
</plist>
